.i-table-container {
  /deep/ .i-table-toolbar {
    margin-bottom: 10px;
  }

  /deep/ .el-table {
    // thead
    .el-table__header-wrapper {
      .el-table__header {
        thead {
          tr {
            th {
              padding: 0;
              height: 35px;
              color: #333333;
              background: #F2F2F2;

              .cell {
                padding: 0;
                height: 100%;
                line-height: 35px;
              }
            }
          }
        }
      }
    }

    // tbody
    .el-table__body-wrapper {
      .el-table__body {
        tbody {
          tr {
            td {
              padding: 0;
              height: 35px;

              .cell {
                padding: 0;
                height: 100%;
                line-height: 35px;

                .el-radio {
                  .el-radio__label {
                    padding: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  /deep/ .i-pagination-container {
    width: 100%;
    height: 32px;

    .el-pagination  {
      float: right;
      padding: 2px 0;

      .btn-prev {
        border-radius: 0;
        border: 1px solid #ddd;
      }

      .el-pager {
        li.number {
          border-radius: 0;
          // border: 1px solid #ddd;
        }
      }

      .btn-next {
        border-radius: 0;
        border: 1px solid #ddd;
      }
    }
  }
}