// 蓝色霓虹按钮
button.defined-neon-blue {
  border: 1px solid;
  background-color: transparent;
  font-size: 14px;
  color: #4cc9f0;

  &:hover {
    color: #ffffff;
    background-color: #4cc9f0;
    border-color: #4cc9f0;
    -webkit-box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
    -moz-box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
    box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
  }
}

// 紫色霓虹按钮
button.defined-neon-purple {
  border: 1px solid;
  background-color: transparent;
  font-size: 14px;
  color: #f038ff;

  &:hover {
    color: #ffffff;
    background-color: #f038ff;
    border-color: #f038ff;
    -webkit-box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
    -moz-box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
    box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
  }
}

// 黄色霓虹按钮
button.defined-neon-yellow {
  border: 1px solid;
  background-color: transparent;
  font-size: 14px;
  color: #b9e769;

  &:hover {
    color: #ffffff;
    background-color: #b9e769;
    border-color: #b9e769;
    -webkit-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
    -moz-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
    box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
  }
}

/* 边框效果-start */
.draw-border {
  border: 0;
  background: none;
  color: #4361ee;
  position: relative;
  outline: none;
  box-sizing: border-box;
}

.draw-border::before, .draw-border::after {
  box-sizing: inherit;
  position: absolute;
  content: '';
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

.draw-border::after {
  bottom: 0;
  right: 0;
}

.draw-border:hover::before, .draw-border:hover::after {
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  border-top-color: #4361ee;
  border-right-color: #4361ee;
  transition: width 0.3s ease-out, height 0.3s ease-out 0.3s;
  top: 0;
  left: 0;
}

.draw-border:hover::after {
  border-bottom-color: #4361ee;
  border-left-color: #4361ee;
  transition: border-color 0s ease-out 0.6s, width 0.3s ease-out 0.6s, height 0.3s ease-out 1s;
}
/* 边框效果-end */

// 圆形效果
.circle-btn {
  position: relative;
  border: 0;
  border-radius: 50px !important;
  color: white;
  background: #5f55af;
  padding: 12px 20px 12px 40px;
  background: linear-gradient(to right, #f72585 50%, #5f55af 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition:all 1s ease;

  &:hover {
    background-position: left bottom;
  }

  /deep/ i {
    background: #f72585;
    padding: 12px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0%;
  }
}

// 圆角效果
.filleted-corner {
  border: 0;
  border-radius: 10px !important;
  background: #2ec4b6;
  color: white;
  outline: none;
  position: relative;
  transition: border-radius 1.5s;
  -webkit-transition: border-radius 1.5s;

  &:hover {
    border-bottom-right-radius: 50px !important;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

// 冰冻效果
.frozen-green, .frozen-purple {
  border: 0;
  border-radius: 20px !important;
  color: white;
  outline: none;
  position: relative;
}

.frozen-green:before, .frozen-purple:before {
  content: '';
  display: block;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.4) 50%);
  background-size: 210% 100%;
  background-position: right bottom;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom:0;
  right:0;
  left: 0;
  border-radius: 20px;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.frozen-green {
  background-image: linear-gradient(to right, #25aae1, #40e495);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.frozen-purple {
  background-image: linear-gradient(to right, #6253e1, #852D91);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

.frozen-purple:hover:before {
 background-position: left bottom;
}

.frozen-green:hover:before {
 background-position: left bottom;
}

// 闪亮效果
.glisten {
  border: 2px solid white;
  background: transparent;
  color: white;
  outline: none;
  overflow: hidden;
  position: relative;
}

.glisten:after {
  content: '';
  display: block;
  position: absolute;
  top: -36px;
  left: -100px;
  background: white;
  width: 50px;
  height: 125px;
  opacity: 20%;
  transform: rotate(-45deg);
}

.glisten:hover:after {
  top: -50px;
  left: 135%;
  transition: all 600ms cubic-bezier(0.3, 1, 0.2, 1);
   -webkit-transition: all 600ms cubic-bezier(0.3, 1, 0.2, 1);
}

